/*===========================================================================================================
                                        HTML
===========================================================================================================*/
html {
    font-family: Arial;
    font-size: 12px;

}

/*===========================================================================================================
                                        Header
===========================================================================================================*/


.header h1 {
    font-size: 18px;

}

#banner{
    display: flex;
    justify-content: center;
   
}



/*===========================================================================================================
                                        Welcome
===========================================================================================================*/

.welcome {

}

.welcome h2 {
    display: flex;
    justify-content: center;
    font-size: 18px;

}

/*===========================================================================================================
                                        Info
===========================================================================================================*/

#info h3 p{

}

#info h3{
    font-size: 18px;


}

#video{
    float: right;


}

/*===========================================================================================================
                                        Download
===========================================================================================================*/
.download{
    text-decoration: underline;
    font-size: 25px;
    margin-top: 200px;
    margin-left: 500px;

}



