/*===========================================================================================================
                                        HTML
===========================================================================================================*/
html {
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;


}

/*===========================================================================================================
                                        Header
===========================================================================================================*/


.header h1 {
    font-size: 18px;

}

#banner img{
    display: flex;
    justify-content: center;
    width: 1266px;
    height: 120px;
    margin-left: -10px;
    margin-bottom: 10px;

}



/*===========================================================================================================
                                        Welcome
===========================================================================================================*/

.welcome {

}

.welcome h2 {
    display: flex;
    justify-content: center;
    font-size: 18px;

}

/*===========================================================================================================
                                        Info
===========================================================================================================*/

#info{
    background-color: white;

}

#info h3{
    font-size: 18px;


}

#video{

    position: absolute;
    bottom: 150px;
    left: 950px;
}


/*===========================================================================================================
                                        Login
===========================================================================================================*/

.login{
display: block;
}

/*===========================================================================================================
                                        Download
===========================================================================================================*/
.download{
    text-decoration: underline;
    font-size: 25px;
    margin-top: 200px;
    margin-left: 500px;

}



